{% extends 'base.html'%}
{%block content%}
<div class="container">
    <div class="row text-center">
        <h1 class="text-center" style="font-size: 50pt;">WELCOME TO PINBLOG</h1>

        <header class="masthead text-center">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-10 mx-auto">
                        <div class="site-heading">
                            <span class="subheading"><i class="fas fa-quote-left"></i> <em>{{quote.quote}}</em> <i
                                    class="fas fa-quote-right"></i></span>
                            <h2>{{quote.author}}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>
</div>

<div class="container">
    <div class="row">
        <a type="button" class="btn" style="font-weight:700" href="{{url_for('main.new_blog')}}">
            New Blog
        </a>

    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            {%for blog in blogs[::-1]%}
            <div class="diplayblog column-md-4">
                <a href="{{url_for('main.new_blog', id = blog.id)}}">
                    <h3 class="title">
                        {{blog.blog_title}}
                    </h3>
                </a>
                <h4 class="content">
                    {{blog.blog_content | truncate (50)}}
                </h4>
                <p style="font-weight: 100; font-size:10pt; color:grey "><span style="margin-right: 5%;">Posted by : 
                    {{blog.user.username}}  </span>Date: {{blog.posted_at.strftime('%B %d, %Y')}}
                </p>
            </div>
            <hr>
            {%endfor%}
        </div>
    </div>
</div>
{%endblock%}