{% macro displayBlogs(blogs_list)%}
{%for blog in blogs_list[::-1]%}

<div class="col-md-6">
    <div class="panel col-sm mt-2 p-3" style="background-color: rgb(248, 245, 247); padding:3%;">
        <div class="diplayblog column-md-4">
            <a href="{{url_for('main.new_blog', id = blog.id)}}">
                <h3 class="title">
                    {{blog.blog_title}}
                </h3>
            </a>
            <h4 class="content">
                {{blog.blog_content | truncate (50)}}
            </h4>
            <p style="font-weight: 100; font-size:10pt; color:grey "><span style="margin-right:3%;">Posted by :
                    {{blog.user.username}} </span>Date: {{blog.posted_at.strftime('%B %d, %Y')}}
            </p>
        </div>
        <hr>
        <div class="row">

            <div class="btn-group col-md-6">
                <a href="{{url_for('main.delete_blog',id = blog.id, blog_id=blog.id)}}" type="button"
                    style="border: none;" class=" btn btn-warning d-flex">

                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-trash-fill" viewBox="0 0 16 16">
                        <path
                            d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
                    </svg>
                </a>
                <a href="{{url_for('main.update_blog', id=blog.id)}}" type="button" style="border: none;"
                    class="btn btn-info d-flex">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path
                            d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                        <path fill-rule="evenodd"
                            d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                    </svg>
                </a>
            </div>

            <div class=col-md-6>
                <a href="{{url_for('main.write_comment',id=blog.id)}}" type="button" style="border: none;"
                    class="btn btn-primary d-flex">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-chat-dots-fill" viewBox="0 0 16 16">
                        <path
                            d="M16 8c0 3.866-3.582 7-8 7a9.06 9.06 0 0 1-2.347-.306c-.584.296-1.925.864-4.181 1.234-.2.032-.352-.176-.273-.362.354-.836.674-1.95.77-2.966C.744 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7zM5 8a1 1 0 1 0-2 0 1 1 0 0 0 2 0zm4 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0zm3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
                    </svg>
                    Comment</a>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{%endmacro%}

{%macro displayComments(comments_list)%}
{%for comment in comments_list%}
<div class="col-md-9">
    <p style="font-size:13pt">Comment : {{comment.comment}}</p>

    <a href="{{url_for('main.delete_comment',id = comment.id)}}" type="button" style="border: none;"
        class=" btn btn-warning d-flex">

        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill"
            viewBox="0 0 16 16">
            <path
                d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
        </svg>
    </a>
</div>
<div>
    <p style="font-size:11pt"> By : {{comment.user.username}}</p>
</div>
<hr>
{%endfor%}
{%endmacro%}